/*
* The A-Site
*/

body{
	font-family: 'Quicksand', sans-serif;
}

.fullWidth{
	width: 100%;
}

.section{
	min-height: 100vh;
}

.blankRow{
	height: 50px;
}

.sticky{
	position: fixed;
	top: 0;
    z-index: 998;
}

.navbar-brand>img{
    height: 27px;
}

.header,.footer{
	width: 100%;
	height: 56px;
	background: black;
}

/*
* Loader
*/
#loader-wrapper{
    background-color: white;
    position: fixed;
    z-index: 999;
    margin-top: -64px;
}

.loader{
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.loader>div{
	position: absolute;
	animation-name: clo-rotation;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	width: 100%;
	height: 100%;	
}

@keyframes clo-rotation{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}

.loader>.rev-rotation{
	animation-name: rev-rotation;
}

@keyframes rev-rotation{
	from{transform: rotate(360deg);}
	to{transform: rotate(0deg);}
}

.loader>div>p{
    text-align: center;
    vertical-align: middle;
    line-height: 100vh;
}
/*
* Loader -content
*/
.layer1{
	animation-duration: 2s;
	font-size: 1.5rem;
}

.layer2{
	animation-duration: 30s;
	font-size: 18rem;
}

.layer3{
	animation-duration: 10s;
	font-size: 5rem;
}

.layer4{
	animation-duration: 40s;
	font-size: 5rem;
}	

.arcs{
	border: 16px solid #212529;
    display: inline-block;
    min-width: 4em;
    min-height: 4em;
    border-radius: 50%;
    border-left-color: #F44336;
    border-right-color: #00BCD4;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

/*
* Banner
*/

.banner{}

/*
* Content
*/
.content{
    margin-top: 64px;
}

/*
* Content - site display
*/
#mySites{
	min-height: 320px;
}

#mySites>div{
	float: left;
	padding: 2%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.browserFrame{
	background-color: white;
	min-width: 320px;
    border: 1px solid #ccc;
    box-shadow: 4px 4px #ccc;
    margin: 0 auto;
}

.titlebar{
	background-color: white;
	height: 28px;
	width: 100%;
}

.titleDisplay{
	display: inline-block;
    background-color: #e6e6e6;
    margin: 6px 0 0 6px;
    padding: 3px 6px;
    font-size: 14px;
    border-radius: 6px 6px 0 0;
    position: relative;
    height: 23px;
	border: 1px solid #c0c0c0;
    border-bottom: none;
}

.titleDisplay::after{
	content: " ";
    height: 14px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0.20);
    position: absolute;
    right: -22px;
    bottom: 3px;
    border-radius: 0 5px 0 0;
}

.titleDisplay>i{
	font-size: 14px;
	color: #343a40;
}

.titleDisplay>.fa-chrome{
	color: #17a2b8;
}

.titlebar>i{
	float: right;
    height: 29px;
    width: 29px;
    padding: 7px;
	border: 1px solid #c0c0c0;
	margin: -1px -1px 0 0;
	color: #818182;
	border-bottom: none;
}

.addressbar>.fa-ellipsis-v{
	float: right;
    padding-top: 7px;
}

.addressbar>.fa-sync,
.addressbar>.fa-ellipsis-v{
	color: grey;
}

.titlebar>.fa-times{
    background-color: lightcoral;
    border: none;
    color: white;
    padding-left: 9px;
}

.addressbar{
	background-color: #e6e6e6;
    height: 30px;
    width: 100%;
    padding: 0 2%;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
}

.addressbar>i{
	font-size: 14px;
    color: #ced4da;
}

.addressArea{
	display: inline-flex;
    font-size: 12px;
    background-color: white;
    width: 80%;
    padding: 4px 2%;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 0px;
    border: 1px solid silver;
}

.contentArea{
	padding-top: 56.25%;
	width: 100%;
}

.contentArea>.imageframe{
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.contentArea>.imageframe>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;	
}

