/*
General
*/
header,footer{
    padding: 10px;
    width: 100%;
    color: #818181;
    background-color: #131122;
}

header a, footer a{
    color: #ccc;
    padding: 0 10px;
    text-decoration: none;
    transition: 0.3s;
}

header a:hover,footer a:hover {
    color: #f1f1f1;
    text-decoration: none;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

footer{
    text-align: center;
}

section{
    min-height: 100vh;
    background-color: #282442;
    padding: 32px;
}

.white-title{
    color: white;
}

/*
Loader
*/
.page-loader,.add-new-user,.edit-user,.remove-user{
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #282442;
    position: fixed;
    top: 0;
    left: 0;
}

.add-new-user,.edit-user,.remove-user{
    background-color: rgba(40, 36, 66, 0.75);
    display: none;
}

.animation-holder{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 64px;
    height: 64px;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fed;
    margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  

/*
Header
*/
header>div{
    display: inline-block;
}

.allripe-logo{
    font-weight: bold;
}

#collapse-menu-button>button{
    color: #ccc;
    padding: 0 10px;
    background: transparent;
    border: 1px solid;
    border-radius: 5px;
}

#collapse-menu-button>button:hover{
    color: #f1f1f1;
}

.allripe-menu{
    float: right;
}

.allripe-menu>ul{
    list-style-type: none;
}

.allripe-menu>ul>li{
    display: block;
    float: left;
}

/*
Sidebar
*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #0a0913;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    white-space: nowrap
}

.sidebar ul{
    list-style-type: none;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/*
arCharts
*/
.section-fix{
    padding-top: 64px;
}

.arCharts{
    min-height: 300px;
    padding: 5px;
}

.chart-container{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.chart-container>h2{
    color: #818181;
}

/*
login
*/
.login-form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    max-width: 250px;
    min-width: 200px;
    padding: 32px;
    background-color: rgba(0, 0, 0, 0.25);
}

.login-form label,.login-form input,.login-form button,.login-form span{
    color: #ccc;
    display: block;
}

.login-form input,.login-form button,.login-form select{
    width: 100%;
}


.login-form label{
    margin-bottom: 0;
}

.login-form input,.login-form select{
    margin-bottom: 10px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 5px;
    padding: 5px;
}

.login-form>.rpw>input{
    display: inline;
}

.rpw>input{
    width: unset;
}

.login-form>button{
    background-color: cornflowerblue;
    border: 0;
    padding: 5px;
    margin-top: 32px;
    margin-bottom: 32px;
    font-weight: bold;
    border-radius: 5px
}

.psw{
    width: 100%;
    text-align: center;
    color: #818181;
    margin-top: 10px;
}

/*
Logout
*/
.msg-box{
    min-width: 200px;
    max-width: 250px;
    color: white;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45vh;
    text-align: center;
}

/*
Admin-User-Management
*/
.search-form{
    float: right;
}

.tool-bar-left,.tool-bar-right{
    margin-top: 10px;
}

.tool-bar-left>button{
    width: 100%;
}

.tool-bar-right>form{
    text-align: right;
    width: 100%;
    position: relative;
    height: 40px;
}

.search-form>input{
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
    color: #cccccc;
    padding: 5px 100px 5px 10px;
    margin: 2px 0;
    border: 1px solid;
}

.search-form>button{
    position: absolute;
    right: -2px;
    top: 0;
    border-radius: 0 5px 5px 0;
}

.search-form>button:hover{
    border: 1px solid white;
}

.ar-roster-container{
    margin-top: 10px;
}

.ar-roster-container>table{
    width: 100%;
}

.ar-roster-container>table p{
    color: white;
    display: inline;
}

.ar-roster-header{
    background-color:rgba(0, 0, 0, 0.5);
}

.ar-roster-entry{
    background-color:rgba(0, 0, 0, 0.25);
}

.ar-roster-entry-id{
    width: 80px;
    text-align: center;
}

.ar-roster-entry-name,.ar-roster-entry-role{
    max-width: 20%;
    text-align: center;
}

.ar-roster-container>table tr>.ar-roster-entry-operations{
    text-align: right;
    padding-right: 15px;
}

.general-button{
    min-width: 80px;
    font-weight: bold;
    color: #cccccc;
    background-color: rgb(25, 22, 41);
    padding: 5px 10px;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid;
    transition: all 0.25s;
}

.general-button:hover{
    color: rgba(19, 17, 34, 0.5);
    background-color: #cccccc;
}

.ar-roster-container>table td,.ar-roster-container>table th{
    padding: 8px;
    border: 1px solid rgb(40, 36, 66);
}

@media (max-width: 600px) {
    .ar-roster-container>table td,.ar-roster-container>table th{
        padding: 4px;
    }
}

/*
Admin-User-Management-Operations
*/
.add-user-form{
    background-color: #231f3a;
    border: 1px solid #98979f;
    border-radius: 5px;
}

.add-user-form>button{
    width: 40%;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 5px;
}

#cancel_action,#cancel_action_edit,#cancel_action_remove,#action_remove{
    float: right;
    background-color: darkgray;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 5px;
    border: 0;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    color: #cccccc;
    text-decoration: none;
}

.remove-user .login-form{
    margin-top: 40vh;
    height: 140px;
}

#action_remove{
    background-color: cornflowerblue;
    float: left;
}