/*
General
*/
header,footer{
    padding: 10px;
    width: 100%;
    color: #818181;
    background-color: #131122;
}

header a, footer a{
    color: #ccc;
    padding: 0 10px;
    text-decoration: none;
    transition: 0.3s;
}

header a:hover,footer a:hover {
    color: #f1f1f1;
    text-decoration: none;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

footer{
    text-align: center;
}

section{
    min-height: 100vh;
    background-color: #282442;
    padding: 32px;
}

/*
Header
*/
header>div{
    display: inline-block;
}

.allripe-logo{
    font-weight: bold;
}

#collapse-menu-button>button{
    color: #ccc;
    padding: 0 10px;
    background: transparent;
    border: 1px solid;
    border-radius: 5px;
}

#collapse-menu-button>button:hover{
    color: #f1f1f1;
}

.allripe-menu{
    float: right;
}

.allripe-menu>ul{
    list-style-type: none;
}

.allripe-menu>ul>li{
    display: block;
    float: left;
}

/*
Sidebar
*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #0a0913;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    white-space: nowrap
}

.sidebar ul{
    list-style-type: none;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/*
arCharts
*/
.section-fix{
    padding-top: 64px;
}

.arCharts{
    min-height: 300px;
    padding: 5px;
}

.chart-container{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.chart-container>h2{
    color: #818181;
}

/*
login
*/
.login-form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    max-width: 250px;
    min-width: 200px;
    padding: 32px;
    background-color: rgba(0, 0, 0, 0.25);
}

.login-form label,.login-form input,.login-form button,.login-form span{
    color: #ccc;
    display: block;
}

.login-form input,.login-form button{
    width: 100%;
}


.login-form label{
    margin-bottom: 0;
}

.login-form input{
    margin-bottom: 10px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 5px;
    padding: 5px;
}

.login-form>.rpw>input{
    display: inline;
}

.rpw>input{
    width: unset;
}

.login-form>button{
    background-color: cornflowerblue;
    border: 0;
    padding: 5px;
    margin-top: 32px;
    margin-bottom: 32px;
    font-weight: bold;
    border-radius: 5px
}

.psw{
    width: 100%;
    text-align: center;
    color: #818181;
    margin-top: 10px;
}